
.main-login{
    display: flex;
    justify-content: right;
    flex-direction: row;
    height: 100vh;

    background-image: url('./../../assets/woman-login.jpg');
    background-position: left;
    background-size: contain;
}

#content-login{
    width: 50%;
}

#content-login{
    background-color: #fff;
    
    border-radius: 55px 0 0 55px;
    box-shadow: 10px #00000026;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title > h2 {
    font-size: 1.5rem !important;
    margin-bottom: 30px;
}

form{
    width: 500px;
    
    padding: 40px;
    box-shadow: 0px 0px 50px 0px #D9D9D9ED;
    margin-top: 40px;

    border-radius: 20px;

    display: flex;
    flex-direction: column ;
}

button{
    background-color: #FF869C !important;
    border: none !important;
    width: 100% !important;
    margin-top: 20px;
}

hr{
    border: 1px solid #ffb8c5;
    width:  100% !important;
}