
/*estilização para componente de calendário*/

.container-calendar-structure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .arrow {
    margin: 0px 30px 0px 30px;
    cursor: pointer;
  }

  .calendar-container { 
    width: 100%;
    max-width: 950px;
    border: 1px solid rgb(4, 4, 4, 0.16);
    border-radius: 16px;
    padding-bottom: 20px;
  
    box-shadow: -2px 1px 12px 4px rgb(4, 4, 4, 0.16);
    -webkit-box-shadow: -2px 1px 12px 4px rgb(4, 4, 4, 0.16);
    -moz-box-shadow: -2px 1px 12px 4px rgb(4, 4, 4, 0.16);
  
    .calendar {
      width: 100%;
      max-width: 950px;
      border-collapse: collapse;
    }
  
    .calendar th {
      border-bottom: 1px solid rgb(4, 4, 4, 0.16);
      font-size: 1.56rem;
    }

    .calendar td  {
      font-size: 2.06rem;
    }

    .calendar th, .calendar td {
      text-align: center;
      padding: 10px;
    }
    
    .empty-cell {
      background-color: white;
    }

    .cursor-pointer {
      cursor: pointer;
    }

    .standart-day, 
    .cycle-day, 
    .cycle-day-runing, 
    .symptom, 
    .pregnancy-day, 
    .pregnancy-day-expectative,
    .clicked {
      display: inline-block;
      width: 60px; 
      height: 60px; 
      border: 4px solid;
      border-radius: 40px;
      border-color:white;
    }

    .standart-day {
      border-color:#988A8D;
      background-color: #988A8D;
      color: white !important;
    }

    .cycle-day {
      background-color: #FF869C;
      color: white !important;
    }

    .cycle-day-runing {
      background-color: #E04F4F;
      color: white !important;
    }

    .symptom {
      border-color: #FFF5A0;
      color: black;
    }

    .pregnancy-day {
      border-color: #86BEFF;
      color: black;
    }

    .pregnancy-day-expectative {
      background-color: #86BEFF;
      color: white !important;
    }

    .clicked {
      border-color: black;
    }
  
  }
}
