@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

$white: #ffffff;
$pink: #ff869c;
$font-color: #414141;

p {
    margin: 0;
}
%button-style{
    display: flex;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 55px;
    gap: 15px;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
.btn-secondary {
    @extend %button-style;
    color: $white;
    background-color: $pink;
}
.btn-secondary:hover{
    color: $white;
    background-color: $pink;
    scale: 0.98;
    border-color: $pink;
}
.btn-secondary:focus{
    color: $white;
    background-color: $pink;
    border-color: $pink;
    box-shadow: none;
}
.btn-primary{
    @extend %button-style;
    background-color: $white;
    border: solid 4px;
    color: $pink;
}
.btn-primary:hover{
    color: $pink;
    background-color: $white;
    border: solid 4px $pink;
    scale: 0.98;
    border-color: $pink;
}
.btn-primary:focus{
    color: $pink;
    background-color: $white;
    border-color: $pink;
    box-shadow: none;
}